* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0b0b0b;
    color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    padding: 22px;
    border-bottom: 1px solid #7c3aed40;
}

.logo {
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-size: 50px;
}

/* PORTFÓLIO */
.portfolio {
    padding: 20px 30px;
}

.portfolio h2 {
    margin-bottom: 20px;
    font-size: 40px;
    color: #a78bfa;
}

/* FLEX MOBILE FIRST */
.gallery {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.gallery img {
    width: 100%;
    height: 440px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 4px #7c3aed;
}

footer {
    border-top: 1px solid #7c3aed40;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: #aaa;
}

/* TABLET / DESKTOP */
@media (min-width: 800px) {
    .gallery {
        flex-direction: row;
        max-width: 1100px;
        margin: 0 auto;
        justify-content: center;
        gap: 20px;
    }

    .gallery img {
        width: 50%;
        height: 500px;
    }
}